@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;&display=swap');
.fondo{
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #0040ff, #e5e5f7), repeating-radial-gradient(circle at center center, #0040ff, #0040ff, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
    
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 170px;
    background-color: rgb(9, 5, 32);
    background: url(https://img.freepik.com/vector-premium/ecualizador-musica-digital-abstracto-sobre-fondo-azul-oscuro_387612-262.jpg);
}
#logo{
    width: 150px;
    height: 150px;
    margin:15px;
    border-radius: 150px;
    box-shadow: 5px 5px 15px rgb(33, 8, 172);
}

#titulo{
    top:40px ;
    color: white;
    text-decoration: none;
    font-size: 300%;
    position: absolute;
    left:170px ;
    box-shadow:5px 5px 15px rgb(186, 180, 222) ;
    
}
#subtitulo{
    display: flex;
    color: white;
    text-decoration: none;
    width: 90%;
    max-width: 400px;
    margin: auto;
}
.texto{
    color: white;
    text-decoration: dashed;
    font: small-caps 100%/200% serif;
    display: inline;
    top: 55px ;
    position: absolute;
    font-size: 30px;
    left: 60%;
}
.texto2{
    color: white;
    text-decoration: dashed;
    font: small-caps 100%/200% serif;
    display: flex;
    margin: auto;
    max-width: 400px;
    width: 90%;       
}
#contatexto{
    color: white;
    font: small-caps 100%/200% serif;
    font-size: 180%;
    display: flex;
    margin: auto;
    max-width: 400px;
    width: 90%;    
}
.niveles{
    display: inline;
}
#boton{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer; 
}   
#imagen{
    top: 50%;
    border-radius: 150px;
    display: flex;
    margin: auto;
    max-width: 400px;
    width: 90%;    
}
#imagen:hover{
    box-shadow: 5px 5px 15px rgb(234, 254, 5);
}
#caja-texto1{
    color: rgb(255, 255, 255);
    font: small-caps 100%/200% serif;   
    box-shadow: 5px 5px 15px white;
    height: 50px;
    text-align: center;
}
#caja-texto1:hover{
    color: rgb(0, 0, 0);
    font: small-caps 100%/200% serif;   
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    height: 50px;
}
footer{
    background-color: rgb(9, 5, 32);
    padding: 50px;
    color: white;
    height: 30%;
    text-align: center;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 30px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 2s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #ffffff;

}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(19, 20, 20);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #0011ff;
}
.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
} 
.card .back .link a {
    color: #f3f3f3;
}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
.inline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.boton_musica{
    background-color: rgb(111, 152, 255);
    width: 100%;
    height: 100%s;
    margin-top: 30px;
    box-shadow: 5px 5px 15px rgb(33, 62, 204);
}
.form{
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0/30%);
    text-align: center;
}
.form_title{
    font-size: 2rem;
    margin-bottom: .5em;
}
.form_paragraph{
    font-weight: 300;
}
.form_link{
    font-weight: 400;
    color: #000;
}
.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form_group{
    position:relative;
    --color: #5757577e;
}.form_input{
    width: 100%;
    background: none;
    color:#706c6c;
    font-size: 1rem;
    padding:  .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family:'Roboto','sans-serif';
}

.form_input:not(:placeholder-shown){
    color: #4d4646;
}

.form_input_focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}
.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}
.form_submit{
    background: #3866f2;
    color: #fff;
    font-family: 'Roboto','sans-serif';
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}
.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #3866f2;
    transform:scale(0) ;
    transform: left bottom;
    transition: transform .4s ;
}
.form_input_focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_line{
    transform: scale(1);
}

@media (max-width:425px) {
    .form_title{
        font: size 1.8rem; ;
    }
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0004e4;
    transition: opacity 1.75s, visibility 1.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #005e95;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  
